<h1>Minions#index 2</h1>
<p>Find me in app/views/minions/index.html.erb</p>

<div id="options-container">
  <div class="row">
    <div class="col-sm game-option" data-option="rock">
      <%= image_tag("rock.png", class: "img-responsive") %>
    </div>
    <div class="col-sm game-option" data-option="paper">
      <%= image_tag("paper.png", class: "img-responsive") %>
    </div>
    <div class="col-sm game-option" data-option="scissor">
      <%= image_tag("scissor.png", class: "img-responsive") %>
    </div>
  </div>
</div>

<!-- modals -->

<div id="modal-triggers">
  <input class="welcome" type="hidden" data-modal="element" data-content="#welcome-modal">
  <input class="lose" type="hidden" data-modal="element" data-content="#lose-modal">
  <input class="win" type="hidden" data-modal="element" data-content="#win-modal">
</div>

<div id="welcome-modal" class="modal">
  <h1>Hi, do you want to play with me?</h1>
  <%= image_tag("minions/hi.jpg", class: "img-responsive") %>
</div>

<div id="win-modal" class="modal">
  <h1>You Win!</h1>
  <%= image_tag("minions/win.png", class: "img-responsive") %>
</div>

<div id="lose-modal" class="modal">
  <div class="result">
    <div class="row">
      <div class="col-sm">
        <h3>You</h3>
      </div>
      <div class="col-sm">
        <%= image_tag("rock.png", class: "img-responsive") %>
      </div>
      <div class="col-sm">
        <%= image_tag("rock.png", class: "img-responsive") %>
      </div>
      <div class="col-sm">
        <h3>Minions</h3>
      </div>
    </div>
  </div>
  <div class="message">
    <h1>You lose!</h1>
    <h2>continue?</h2>
    <button class="continue-game">YES</button>
    <button class="end-game">NO</button>
  </div>
  <%= image_tag("minions/lose.png", class: "minion img-responsive") %>
</div>





